{
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.695"}}
                              
 :polylith {:vcs "git"
            :top-namespace "metis"
            :interface-ns "interface"
            :default-profile-name "default"
            :compact-views #{}
            :release-tag-pattern "[0-9].[0-9].[0-9]"
            :stable-tag-pattern  "[0-9].[0-9].[0-9]"
            :project-to-alias {"development" "dev"}
            :ns-to-lib {}}

 :aliases  {:build {:deps {io.github.clojure/tools.build {:tag "TAG" :sha "SHA"}}
                    :ns-default build}
            :dev {:extra-paths ["development/src"
                                ;; Components
                                "components/config/src"
                                "components/config/resources"
                                "components/document/src"
                                "components/document/resources"
                                "components/exchange/src"
                                "components/exchange/resources"
                                "components/ltmem/src"
                                "components/ltmem/resources"
                                "components/log/src"
                                "components/log/resources"
                                "components/model/src"
                                "components/model/resources"
                                "components/page/src"
                                "components/page/resources"
                                "components/scheduler/src"
                                "components/scheduler/resources"
                                "components/stmem/src"
                                "components/stmem/resources"
                                "components/tasks/src"
                                "components/tasks/resources"
                                "components/utils/src"
                                "components/utils/resources"
                                "components/worker/src"
                                "components/worker/resources"
                                "components/ws/src"
                                "components/ws/resources"
                                ;; Bases
                                "bases/cli/src"
                                "bases/cli/resources"
                                "bases/srv/src"
                                "bases/srv/resources"
                                ]
                  
                  :extra-deps {com.taoensso/carmine {:mvn/version "3.0.0"}
                               com.ashafa/clutch {:mvn/version "0.4.0"}
                               org.clojars.wactbprot/vl-data-insert {:mvn/version "0.2.1"}
                               cheshire/cheshire {:mvn/version "5.10.0"}
                               clj-time/clj-time  {:mvn/version "0.15.0"}
                               compojure/compojure {:mvn/version "1.6.1"}
                               http-kit/http-kit {:mvn/version "2.5.0"}
                               hiccup/hiccup {:mvn/version "1.0.5"}
                               ring/ring-defaults {:mvn/version "0.3.2"}
                               ring/ring-core {:mvn/version "1.7.1"}
                               ring/ring-devel {:mvn/version "1.7.1"}
                               ring/ring-json {:mvn/version "0.5.0"}
                               ring/ring-codec {:mvn/version "1.1.3"}
                               com.brunobonacci/mulog {:mvn/version "0.6.0"}
                               com.brunobonacci/mulog-elasticsearch {:mvn/version "0.6.0"}
                               com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
                               clj-http/clj-http {:mvn/version "3.10.0"}}}

            :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}
                                 codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}}
                    :exec-fn codox.main/generate-docs
                    :exec-args {:source-paths  ["bases/cli/src"
                                                "bases/srv/src"
                                                "components/config/src"
                                                "components/document/src"
                                                "components/exchange/src"
                                                "components/ltmem/src"
                                                "components/log/src"
                                                "components/model/src"
                                                "components/page/src"
                                                "components/scheduler/src"
                                                "components/stmem/src"
                                                "components/tasks/src"
                                                "components/utils/src"
                                                "components/worker/src"
                                                "components/ws/src"
                                                ]
                                :metadata {:doc/format :markdown}
                                :themes [:rdash]
                                :doc-files ["readme.md"]
                                :source-uri "https://github.com/wactbprot/metis/blob/master/{filepath}#L{line}"
                                :language :clojure
                                :output-path "docs"}}
            
            :test {:extra-paths ["components/stmem/test"
                                 "components/ltmem/test"
                                 "components/log/test"
                                 "components/document/test"
                                 "components/scheduler/test"
                                 "components/model/test"
                                 "components/page/test"
                                 "components/utils/test"
                                 "components/exchange/test"
                                 "components/worker/test"
                                 "components/ws/test"
                                 "components/tasks/test"]}
            :coverage {:extra-paths ["components/stmem/test"
                                     "components/ltmem/test"
                                     "components/log/test"
                                     "components/document/test"
                                     "components/scheduler/test"
                                     "components/model/test"
                                     "components/page/test"
                                     "components/utils/test"
                                     "components/exchange/test"
                                     "components/worker/test"
                                     "components/ws/test"
                                     "components/tasks/test"]
                       :extra-deps {cloverage/cloverage {:mvn/version "1.2.1"}}
                       :main-opts ["-m" "cloverage.coverage"
                                   
                                   "-p" "components/exchange/src"
                                   "-s" "components/exchange/test"
                                   
                                   "-p" "components/scheduler/src"
                                   "-s" "components/scheduler/test"
                                   
                                   "-p" "components/model/src"
                                   "-s" "components/model/test"
                                   
                                   "-p" "components/stmem/src"
                                   "-s" "components/stmem/test"

                                   "-p" "components/ltmem/src"
                                   "-s" "components/ltmem/test"

                                   "-p" "components/log/src"
                                   "-s" "components/log/test"

                                   "-p" "components/task/src"
                                   "-s" "components/task/test"

                                   "-p" "components/utils/src"
                                   "-s" "components/utils/test"

                                   "-p" "components/worker/src"
                                   "-s" "components/worker/test"

                                   "-p" "components/document/src"
                                   "-s" "components/document/test"

                                   "--no-html"
                                   "--text"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "INSERT_LATEST_SHA_HERE"
                                 :deps/root "projects/poly"}}}}}
