name: codox

on: [push]

jobs:

  clojure:

    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.2
        with:
          # Install just one or all simultaneously
          cli: 1.10.1.693 # Clojure CLI based on tools.deps

      - name: Set up CouchDB
        uses: cobot/couchdb-action@master
        with:
          couchdb version: 2.3.1

      - name: Start Redis
        uses: supercharge/redis-github-action@1.2.0
        with:
          redis-version: 5

      - name: execute codox
        run: clojure -X:dev:codox
        shell: bash

      - name: execute coverage
        run: clojure -M:dev:coverage
        shell: bash

      - name: deploy codox
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs

      - uses: actions/upload-artifact@v1
        with:
          name: documentation
          path: docs

      - name: deploy coverage
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/coverage

      - uses: actions/upload-artifact@v1
        with:
          name: coverage
          path: target/coverage
